Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: #018037;
  }
  a {
         background-color: #4CAF50;
         width: 100%;
         color: #000000;
         padding: 5px;
         margin: 220px;
         border: none;
         cursor: pointer;
  }
  h1{
    color: #FFFFFF;
    font-size: 4rem;
    margin: 2%;
  }
  .container2 a{
         display: inline-block;
         width: 17%;
         margin: 2%;
  }
  
.container2 {
    background-color: #018037;
}
  .button{
    padding: 1.7%;
    border-width: medium;
    border-color: #009999;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
  }
  .button:hover{
    background-color: #009999;
    text-decoration-color: #FFFFFF;
    cursor: pointer;
  }
  .secbutton{
    padding: 1.7%;
    margin: 17%;
    border-width: medium;
    border-color: #009999;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #018037;
    text-align: center;
    text-decoration: none;
  }
  .secbutton:hover{
    background-color: #009999;
    text-decoration-color: #FFFFFF;
    cursor: pointer;
  }
  h2{
    color: #000000;
    font-size: 2rem;
    margin: 2%;
  }
  h3{
    color: #FFFFFF;
    font-size: 1rem;
    margin: 2%;
  }
  .mainPage{
    width: 100%;
    margin: 0%;
    height: 450px;
    border: 7px solid #04989E;
    padding: 25px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  .column {
    float: right;
    width: 45%;
    padding: 20px;
    margin: .7%;
    height: 175px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.image-cont{
  width : 100%;
}
.image-shape{
  border-radius: 10px;
}