Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: #018037;
}

.centered {
    position: fixed;
    top: 40%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
  }

.centered2 {
    position: fixed;
    top: 30%;
    left: 47.5%;
    margin-top: -50px;
    margin-left: -100px;
  }

.divider{
    width:50px;
    height:auto;
    display:inline-block;
}